<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-card"
         id="myNavbar">
        <a href="list.html"
           class="w3-bar-item w3-button w3-wide">Back to List</a>
    </div>
</div>

<!-- Contact Section -->
<div class="w3-container w3-light-grey"
     style="padding:90px 16px"
     id="questions">
    <div>
        <p><input class="w3-input w3-border"
                   type="text"
                   placeholder="Event Name"
                   required
                   name="text"></p>
        <p><input class="w3-input w3-border"
                   type="text"
                   placeholder="Description"
                   required
                   name="text"></p>
        <p>
            <textarea class="w3-input w3-border" rows="3" placeholder="Type the question here."></textarea>
        </p>
        <p>Question 1
            <label class="switch">
                <input class="switch-input"
                       type="checkbox" />
                <span class="switch-label"
                      data-on="Yes"
                      data-off="No"></span> <span class="switch-handle"></span>
            </label>
        </p>
    </div>
    <div class="w3-margin-top">
        <p>Question 2
            <label class="switch">
                <input class="switch-input"
                       type="checkbox" />
                <span class="switch-label"
                      data-on="Yes"
                      data-off="No"></span> <span class="switch-handle"></span>
            </label>
        </p>
    </div>
    <div class="w3-margin-top">
        <p>Question 3
            <label class="switch">
                <input class="switch-input"
                       type="checkbox" />
                <span class="switch-label"
                      data-on="Yes"
                      data-off="No"></span> <span class="switch-handle"></span>
            </label>
        </p>
    </div>
    <div class="w3-margin-top">
        <p>Question 4
            <label class="switch">
                <input class="switch-input"
                       type="checkbox" />
                <span class="switch-label"
                      data-on="Yes"
                      data-off="No"></span> <span class="switch-handle"></span>
            </label>
        </p>
    </div>

    <div class="w3-margin-top">
        <p class="w3-padding-32">
            <button class="w3-button w3-teal w3-input w3-border"
                    type="submit">Submit</button>
        </p>
    </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-32">
</footer>