<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
        <a href="index.html" class="w3-bar-item w3-button w3-wide">Home</a>
    </div>
</div>

<!-- Contact Section -->
<div class="w3-container w3-light-grey" style="padding:90px 16px" id="form">
    <div>
        <div>
            <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="address" [formControl]="emailControl"></p>
            <p><input class="w3-input w3-border" type="password" placeholder="Password" required name="address" [formControl]="passwordControl"></p>
            <p>
                <button class="w3-button w3-teal w3-input w3-border" (click)="login()">Login</button>
            </p>
            <p>
                <button routerLink="/register/attendee" class="w3-button w3-teal w3-input w3-border" type="submit">Register as Attendee</button>
            </p>
            <p>
                <button routerLink="/register/venue-owner" class="w3-button w3-teal w3-input w3-border" type="submit">Register as Venue Owner</button>
            </p>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-32">
</footer>

<!-- <div>
    <label>Email</label>
    <input type="text">
    <label>Password</label>
    <input type="password">
    <button>Login</button>
</div>
<a routerLink="/register/venue-owner">Register as Venue Owner</a>
<a routerLink="/register/attendee">Register as Attendee</a> -->
