<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
        <a href="index.html" class="w3-bar-item w3-button w3-wide">Home</a>
    </div>
</div>

<!-- Contact Section -->
<div class="w3-container w3-light-grey" style="padding:90px 16px" id="form">
    <div>
        <div>
            <p><input class="w3-input w3-border" type="text" placeholder="Event Name" required name="text"></p>
            <p><input class="w3-input w3-border" type="text" placeholder="Description" required name="text"></p>
            <p><select class="w3-input w3-border" id="form" name="form">
                    <option value="form">Choose Form</option>
                    <option value="form1">Form1</option>
                    <option value="form2">Form2</option>
                    <option value="form3">Form3</option>
                    <option value="form">Create Form</option>
                </select>
            </p>
            <p><select class="w3-input w3-border" id="disclosure" name="disclosure">
                    <option value="disclosure">Choose Disclosure</option>
                    <option value="disclosure1">Disclosure1</option>
                    <option value="disclosure2">Disclosure2</option>
                    <option value="disclosure3">Disclosure3</option>
                    <option value="disclosure">Create Disclosure</option>
                </select>
            </p>
            <p><input class="w3-input w3-border" type="text" placeholder="Address" required name="address"></p>
            <p>
                <button class="w3-input w3-border w3-btn" style="width:100%"><i class="fa fa-upload"></i> Image</button>
            </p>
            <p>
                <button class="w3-button w3-teal w3-input w3-border" type="submit">Create Event</button>
            </p>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-32">
</footer>