 <!-- Navbar (sit on top) -->
 <div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
        <a href="list.html" class="w3-bar-item w3-button w3-wide">Back to List</a>
    </div>
</div>

<!-- Contact Section -->
<div class="w3-container w3-light-grey" style="padding:90px 16px" id="questions">
    <div>
        <p>Are you currently required to be in isolation because you have been diagnosed with
            coronavirus (COVID-19)?
            <label class="switch">
                <input class="switch-input" type="checkbox" />
                <span class="switch-label" data-on="Yes" data-off="No"></span> <span class="switch-handle"></span>
            </label>
        </p>
    </div>
    <div class="w3-margin-top">
        <p>Have you been directed to a period of 14-day quarantine by the Department of
            Health and Human Services as a result of being a close contact of someone with
            coronavirus (COVID-19)?
            <label class="switch">
                <input class="switch-input" type="checkbox" />
                <span class="switch-label" data-on="Yes" data-off="No"></span> <span class="switch-handle"></span>
            </label>
        </p>
    </div>
    <div class="w3-margin-top">
        <p>Question 3
            <label class="switch">
                <input class="switch-input" type="checkbox" />
                <span class="switch-label" data-on="Yes" data-off="No"></span> <span class="switch-handle"></span>
            </label>
        </p>
    </div>
    <div class="w3-margin-top">
        <p>Are you experiencing fever? (If you have a thermometer, take your own temperature.
            You are considered to have a fever if above 37.5°C)
            <label class="switch">
                <input class="switch-input" type="checkbox" />
                <span class="switch-label" data-on="Yes" data-off="No"></span> <span class="switch-handle"></span>
            </label>
        </p>
    </div>

    <div class="w3-margin-top">
        <p class="w3-padding-32">
            <button class="w3-button w3-teal w3-input w3-border" routerLink="/green-box">Submit</button>
        </p>
    </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-32">
</footer>